<br>
<div class='row'>
  <div class='small-3 large-3 columns'>
    <div id='sidebar-left'>
      <div class='info'>
        <div class='avatar'>
          <%= image_tag(@user.avatar.url('profile')) %>
        </div>
        <h4><%= @user.full_name %></h4><br>
        <h6>Places Visited</h6>
        <ul class="side-nav">
          <% @user.places_visited.each do |country| %>
            <li><%= link_to country.name, location_path(country) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>



  <div class='small-9 large-9 columns text-center'>
    <div id='photos'>
      <div class='content'>
        <h3>Popular Photos</h3>
        <ul class='small-block-grid-1 medium-block-grid-4 large-block-grid 4'>
          <% @user.most_liked.each do |photo| %>
            <li><%= link_to image_tag(photo.image_url('thumb')), photo %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class='small-3 large-3 columns'>
  </div>
  <div class='small-9 large-9 columns text-center'>
    <div id='comments'>
      <div class='content'>
        <h3>Recent Comments</h3>
        <ul class='small-block-grid-1 medium-block-grid-1 large-block-grid 1'>
          <% @user.recent_comments.each do |comment| %>
            <li><%= comment.body %></li>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
