<br>
<div class='row'>
  <div class='small-3 large-3 columns'>
    <div id='sidebar-left'>
      <div class='info'>
        <div class='avatar'>
          <%= image_tag(@user.avatar.url('profile')) %>
        </div>
        <h4><%= @user.full_name %></h4><br>
        <h6>Places Visited</h6>
        <ul class="side-nav">
          <% @user.places_visited.each do |country| %>
            <li><%= link_to country.name, location_path(country) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>



  <div class='small-9 large-9 columns text-center'>
    <div class='photos'>
      <h3>Popular Photos</h3>
      <ul class='most-liked' data-orbit>
        <% @user.most_liked.each do |photo| %>
          <li><%= image_tag(photo.image_url('thumb')) %>
            <div class='orbit-caption'>
              <%= photo.description %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class='row'>
  <div class='small-3 large-3 columns'>
  </div>
  <div class='small-9 large-9 columns'>
    <h3>Recent Comments</h3>
    <div class='comments'>
      <ul class='small-block-grid-1 large-block-grid 1'>
        <% @user.recent_comments.each do |comment| %>
          <div class='panel'>
            <div class='media'>
              <div class='media-img'>
                <img src='<%= comment.user.avatar.url("avatar") %>'>
              </div>
              <h6><%= comment.user.full_name %></h6>
              <p><%= comment.body %></p>
            </div>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>

