<h1>Upload New Photo</h1>


<%= simple_form_for @photo, html: { multipart: true } do |f| %>
  <%= f.hidden_field :location_id, value: 2 %>
  <%= f.label :image %>
  <%= f.file_field :image %>
  <%= f.input :description %>

  <%= f.button :submit, 'Add Photo' %>

<% end %>
