<h1>Upload New Photo</h1>


<%= simple_form_for [@location, @photo], html: { multipart: true } do |f| %>

  <%= f.label :image %>
  <%= f.file_field :image %>
  <%= f.input :description, as: :text %>

  <%= f.button :submit, 'Add Photo' %>

<% end %>
